.flexdiv {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
}

h2 {
    color: #1e3932;
    margin-left: 10%;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 25px;
    font-weight: bold;
}

.imgsize {
    height: 120px;
    width: 120px;
    padding: 10px;
    border-radius: 50%;
}

.cardmargin {
    margin-right: 70px;
}

p {
    font-weight: 700;
    text-align: center;
}

.paracolor p {
    color: rgb(63, 62, 62);
}