.body-div {
    background-color: #eee;
    height: 500px;
    margin-top: 80px;
}

.Barista {
    display: flex;
}

.right-img {
    height: 70px;
    margin-left: 30px;
    
}

.viewmenu {
    margin-left: 50%;
    margin-top: 20px;
    width: 200px;
    justify-content: right;
    display: flex;
    font-size: small;
    font-weight: 700;
    color: rgb(6, 65, 6);

}

.cardbox {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
}

.item1,.item2 {
    margin-right: 140px;
}